<div id="game">

</div>

<script type="module" src="/public/game/index.js"></script>

<style>
    #game {
        height: 25em;
    }

    @media (max-width: 768px) {
        #game  {
        height: 12em; 
    }
}
</style>