---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import TableSkills from '../components/TableSkills.astro';
---

<BaseLayout title="Julien Coutouly" description="About Julien Coutouly">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Mon parcours"
				tagline="Merci de vous interesser à mon portfolio. Vous pourrez en apprendre ci-dessous un peu plus sur moi et mon parcours."
			>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
						Après avoir travaillé quatre ans en tant qu'ingénieur en conception de machines spéciales, 
						j'ai réalisé que je m'épanouirai davantage en travaillant dans le domaine du numérique et 
						plus spécifiquement dans celui de la programmation de projets innovants et interactifs, c’est la raison pour laquelle 
						j’ai souhaité me réorienter. 
					</p>
					<br>
					<p>
						Etant passionné, je suis passé au statut de freelance depuis Mars 2025 et apprécie chaque nouveau challenge qui m'est confié.
						<br/>J'ai notamment eu l'occasion de réaliser deux sites web complets de l'écriture du cahier des charges à la mise en ligne.
						Soit le <a href="https://www.jcoutouly/work/showroom360.fr" target="_blank" rel="noopener noreferrer">showroom à 360°</a> et le <a href="https://www.jcoutouly/work/carbonfootprint.fr" target="_blank" rel="noopener noreferrer">calculateur d'empreinte carbone</a>.
						<br/>Les autres projets présents dans mon portfolio ont été réalisés dans le cadre de mon alternance chez Hélodée ou de ma formation au Gaming Campus.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<ul>
						<li><strong>Gaming Campus </strong> &nbsp-&nbsp  Master MSc Développeur de jeu vidéo &nbsp-&nbsp Lyon  &nbsp-&nbsp  <strong>2024</strong></li>
						<li><strong>Titre FEDE</strong>  &nbsp-&nbsp  Master Européen Expert IT &nbsp-&nbsp Application Intelligenteet Big Data  &nbsp-&nbsp  <strong>2024</strong></li>
						<li><strong>Titre Professionnel</strong>  &nbsp-&nbsp  Concepteur Développeur d’applications &nbsp-&nbsp RNCP37873  &nbsp-&nbsp  <strong>2023</strong></li>
						<li><strong>ENSMM</strong> &nbsp-&nbsp Ingénieur Mécanique et Mécatronique &nbsp-&nbsp Besançon &nbsp-&nbsp <strong>2017</strong></li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="skills">
					<TableSkills head="Front-end" skills={["Javascript", "Html", "Css", "React", "Three.js"]} headColor='#009B4D'></TableSkills>
					<TableSkills head="Back-end" skills={["Node.js", "Express", "Rust", "Python", "SQL"]} headColor='#E7473C'></TableSkills>
					<TableSkills head="Jeux vidéo" skills={["Unity", "C#", "NetCode", "Unreal Engine 5", "Blueprint"]} headColor='#2272FF'></TableSkills>
					<TableSkills head="Outils" skills={["Git", "Docker", "VSCode", "Figma", "Trello"]} headColor='#6E6E6E'></TableSkills>
					<TableSkills head="Savoir-être" skills={["Travail d'équipe", "Gestion de projet", "Capacité d'adaptation", "Autonomie", "Méthodes agile"]} headColor='#EE72F8'></TableSkills>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.skills {
		display: grid;
		margin-left: 50px;
		margin-right: 50px;
	}

	.content {
		grid-column: 2 / 4;
	}

	.content ul {
		line-height: 2;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}

		.skills {
			display: flex !important;
			margin-left: 0px;
			margin-right: 0px;
		}
	}
</style>
