---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Julien Coutouly" description="About Julien Coutouly">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Mon parcours"
				tagline="Merci de vous interesser à mon portfolio. Vous pourrez en apprendre ci-dessous un peu plus sur moi et mon parcours."
			>
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
						Après avoir travaillé quatre ans en tant qu'ingénieur en conception de machines spéciales, 
						j'ai réalisé que je m'épanouirai davantage en travaillant dans le domaine du numérique et 
						plus spécifiquement dans celui de la programmation d’applications, c’est la raison pour laquelle 
						j’ai souhaité me réorienter. 
					</p>
					<br>
					<p>
						Etant passionné, j'ai eu le plaisir de créer un jeu de stratégie en temps réel appelé 
						Vikings Versus Vicars durant mon temps libre. Le jeu est actuellement à l'étape de prototype,
						nous pouvons y jouer uniquement en solo. J'ai pour ambition de le rendre jouable en multijoueur. 
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<ul>
						<li><strong>Gaming Campus </strong> &nbsp-&nbsp  Master MSc Développeur de jeu vidéo &nbsp-&nbsp Lyon  &nbsp-&nbsp  <strong>2024</strong></li>
						<li><strong>Titre FEDE</strong>  &nbsp-&nbsp  Master Européen Expert IT &nbsp-&nbsp Application Intelligenteet Big Data  &nbsp-&nbsp  <strong>2024</strong></li>
						<li><strong>Titre Professionnel</strong>  &nbsp-&nbsp  Concepteur Développeur d’applications &nbsp-&nbsp RNCP37873  &nbsp-&nbsp  <strong>2023</strong></li>
						<li><strong>ENSMM</strong> &nbsp-&nbsp Ingénieur Mécanique et Mécatronique &nbsp-&nbsp Besançon &nbsp-&nbsp <strong>2017</strong></li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<ul>
						<li>Front-end</li>
						<ul>
							<li>Javascript</li>
							<li>Html</li>
							<li>CSS</li>
							<li>React</li>
							<li>Three.js</li>
						</ul>
						<li>Back-end</li>
						<ul>
							<li>Node.js</li>
							<li>Express</li>
							<li>Rust</li>
							<li>Python</li>
							<li>SQL</li>
						</ul>
						<li>Jeux vidéo</li>
						<ul>
							<li>Unity</li>
							<li>C#</li>
							<li>NetCode</li>
							<li>Unreal Engine 5</li>
							<li>Blueprint</li>
						</ul>
						<li>Savoir être</li>
						<ul>
							<li>Travail d'équipe</li>
							<li>Gestion de projet</li>
							<li>Capacité d'adaptation</li>
							<li>Autonomie</li>
							<li>Méthodes agile</li>
						</ul>
					</ul>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content ul {
		line-height: 2;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
