---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>Grace à mon expérience passée et mes différents projets actuels, je suis capable de développer le front et le back d'un site web dynamique.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="game" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Jeux vidéo</h2>
		<p>Ma formation et les différentes game jams auxquelles j'ai participé me permettent de développer tout type de jeux avec le moteur Unity.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Gestion de projet</h2>
		<p>De part mon ancienne experience en tant qu'Ingénieur en conception mécanique j'ai pu mener de nombreux projets en équipe et en intelligence collective.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
