---

interface Props {
	head?: string;
	skills?: string[];
	headColor?: string;
}

const { head, skills = [], headColor = "rgb(255 100 100)" } = Astro.props;

---
<table>
	<tr style="height:1rem; white-space: nowrap;">
		<th>{head}</th>
	</tr>
	{
		skills.map((skill) => (
			<tr style="white-space: nowrap;">
				<td>{skill}</td>
			</tr>
		))
	}					
</table>

<style define:vars={{headColor}}>

	th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: var(--headColor);
		color: white;
	}
	th, td {
		border: 1px solid black;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}
</style>
